body {
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.makeagif.com/media/5-25-2020/PAhgqC.gif);
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.623);
}

h1 {
  color: aliceblue;
  text-align: center;
}

div {
}
